/* Permet de faire tenir les padding & border dans les largeurs des boites */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* fais tenir les images dans leur parent et enlève l'espacement en bottom */
img{
    display: block;
    max-width: 100%;
}

/* enlève les bordures autour du body */
body{
    margin: 0;
}

h3{
    font-size: 50px;
}

.colors{
    display: flex;
    margin: 0 auto;
    width: 50%;
    margin-top: 2%;
    gap: 20px;
    margin-bottom: 3%;
    margin-left: 28%;
    
}

.guess , .newgame{
    display: flex;
    margin: 0 auto;
}


.rouge, .vert, .bleu,.jaune{
padding: 10%;
border-radius: 20px;
border: none;
}




.rouge{
     /* transform: rotate(45deg); */
    background-color: red;
}


.rouge:hover{
     /* transform: rotate(45deg); */
    background-color: rgb(117, 24, 24);
    scale: calc(1.1);
}

.vert{
    background-color: green;
}

.vert:hover{
     /* transform: rotate(45deg); */
    background-color: rgb(98, 201, 30);
    scale: calc(1.1);
}

.bleu{
    background-color: blue;
}

.bleu:hover{
    background-color: rgb(15, 15, 107);
    scale: calc(1.1);
}

.jaune{
    background-color: yellow;
}

.jaune:hover{
    background-color: rgb(175, 175, 26);
    scale: calc(1.1);
}



.choixjoueur , .listessaie{
    font-size: 30px;
    margin-top: 2%;
    width: 40%;
    /* height: 100px; */
    align-items: center;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}


.visujoueur, .titre{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 100%;
    align-items: center;
}


.btns{
    margin-left: 24%;

    width: 50%;
    display: flex;
}



.btns button{
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* background-color: red; */
    padding: 20px;
    border: none;
   
}


.btns button:hover {
    background-color: rgb(189, 11, 11);
    color: white;
     scale: calc(1.1);
}

